<html>

<head>
  <meta charset="utf-8">
  <title>Support | CuperClub</title>
</head>

<body>
  <h1>Hola <%= @email %></h1>
  <p>La compania: <%= @company.business_name %>. te ha enviado una solicitud para registrarte como empleado</p>
  <p>
    Si aun no tienes cuenta, solo necesitas ir a <a href="cuperclub.com"></a> y registrarte.
  </p>
  <p>
    Si crees que este correo es un error, solamente ignoralo.
  </p>
  <p>
    Que tengas un excelente dia.!
  </p>
</body>
</html>
