<html>

<head>
  <meta charset="utf-8">
  <title>Administration | CuperClub</title>
</head>

<body>
  <h1>Hola <%= @user.name %></h1>
  <p>La compania "<%= @company.business_name %>" ha sido <%= @status %></p>
  <p>
    Para mayor información enviar un email a: soportecuperclub@gmail.com
  </p>
  <% unless @feedback.nil? %>
    <p>Observación: <%= @feedback %></p>
  <% end %>
</body>
</html>
