<html>

<head>
  <meta charset="utf-8">
  <title>Support | CuperClub</title>
</head>

<body>
  <h1>Hola Admin.!</h1>
  <p>El usuario <%= @user.name %>, ha registrado su companía llamada: <%= @company.business_name %>.</p>
  <p>
    Por favor ve al panel de administración, revisa la documentación y una vez que todo este en regla apruebala.
  </p>
  <p>
    Gracias.!
  </p>
</body>
</html>
