<html>

<head>
  <meta charset="utf-8">
  <title>Administration | CuperClub</title>
</head>

<body>
  <h1>Hola <%= @user.name %></h1>
  <p>En hora buena "<%= @company.name %>" ahora forma parte de CuperClub
    <br>Ahora tu podrás crear grandes promociones para tus clientes mas files.
  </p>
  <p>
    Si tienes alguna duda o inconveniente enviar un email a: soportecuperclub@gmail.com
  </p>
</body>
</html>
